[build-system]
requires = [ "hatchling" ]
build-backend = "hatchling.build"

[project]
name = "CheeseAPI"
version = "0.4.11"
description = "一款web协程框架。"
readme = "README.md"
license-files = { paths = [ "LICENSE" ] }
authors = [
    { name = "Cheese Unknown", email = "cheese@cheese.ren" }
]
keywords = [ 'API', 'BackEnd' ]

dependencies = [
    "CheeseLog",
    "xmltodict",
    "blinker",
    "websockets",
    "uvloop",
    "httptools",
    "ordered_set"
]

[project.urls]
Source = "https://github.com/CheeseUnknown/CheeseAPI"

[tool.hatch.build.targets.sdist]
include = [ "/CheeseAPI" ]
